body {
  font-family: "Raleway", serif;
  font-size: 1em;
  line-height: 1.6;
  padding-top: 10px;
  margin: 0;
}

.resume-page {
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0.5in 1in 0 1in;
  width: 8.5in;
  height: 11in;
  background-color: white;
  box-shadow: 0 3px 8px -3px rgba(0, 0, 0, 0.7);
}

.big-blue-line {
  height: 0.325in;
  width: 6.5in;
  background-color: hsla(229, 100%, 66%, 56%);
  margin: -33px auto 30px auto;
}

.name-box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  height: 30px;
  letter-spacing: 10px;
  margin: 0, 0, 0, 0;
  font-weight: normal;
}

.reach-me {
  font-size: 16px;
  /* margin: -33px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 45px; */
  margin: -33px auto 0 auto;
  padding: 0.8rem 2.5in 25px;
  width: 35%;
}

.am-ed-section-heading {
  font-weight: 900;
  font-size: 20px;
  letter-spacing: 7px;
}

.about-me-and-education-container {
  padding-top: 0px;
  display: grid;
  grid-template-columns: 60% 5px 1fr;
  grid-template-rows: 1fr;
  height: 3.4in;
  letter-spacing: 2px;
  line-height: 1.4;
}

.about-me-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25in 1fr 1fr;
  padding-right: 21px;
}

.about-me-text {
  padding-top: 10px;
}

.am-ed-heading {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.am-ed-separator {
  height: 3.5in;
  width: 5px;
  background-color: hsla(229, 100%, 66%, 56%);
  border-radius: 20px;
  margin: 0;
}

.education-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.25in 1fr 1fr;
  padding-left: 20px;
  padding-right: 25px;
}

.education-text {
  padding-top: 10px;
}

.section-heading {
  padding-top: 0.2in;
  padding-bottom: 0.1in;
  font-size: 26px;
  letter-spacing: 7px;
  margin: 0;
}

.project-container {
  display: grid;
  grid-template-columns: 60% 1fr;
  grid-template-rows: 1.5rem 1fr;
}

.project-name {
  grid-area: 1 / 1 / 2 / 2;
  font-size: 18px;
  font-weight: 800;
}

.project-url {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
}

.project-description {
  grid-area: 2 / 1 / 3 / 3;
  font-size: 16px;
  line-height: 1.4;
}

.page-spacer {
  height: 20px;
}

.employer-entry {
  display: grid;
  grid-template-columns: 80% 1fr;
  grid-template-rows: 1.5rem 1.5rem 1fr;
  line-height: 1.6;
  margin: 0;
  padding-bottom: 10px;
}

.employer {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: flex-start;
  font-size: 17px;
  font-weight: 800;
}

.dates-employed {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-content: flex-end;
  font-weight: 800;
}

.position {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  justify-content: flex-start;
}

.job-location {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  justify-content: flex-end;
}

.job-description {
  grid-area: 3 / 1 / 4 / 3;
}

.page-footer {
  padding-top: 15px;
  display: grid;
  grid-template-rows: 5px 20px 1fr;
}

.page-footer-separator {
  height: 5px;
  width: 100%;
  background-color: hsla(229, 100%, 66%, 56%);
  border-radius: 20px;
}

.page-footer-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 1.5rem;
}

.restaurant-experience-container {
  display: grid;
  grid-template-columns: 70% 1fr;
  grid-template-rows: 1.5rem 1fr;
  line-height: 1.4;
  margin: 0;
  padding-bottom: 10px;
}

.restaurant-positions {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: flex-start;
}

.restaurant-job-locations {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-content: flex-end;
}

.restaurant-job-descriptions {
  grid-area: 2 / 1 / 3 / 2;
}

.restaurant-experience-positions {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  justify-content: flex-start;
}

.restaurant-experience-job-locations {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-content: flex-end;
}

.restaurant-experience-description {
  grid-area: 2 / 1 / 3 / 3;
}

#counter {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-size: 20px;
}

p {
  display: block;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ul {
  margin: 0;
  line-height: 1.4;
}

h2 {
  margin-block-start: 0;
  margin-block-end: 0;
}

strong {
  font-weight: 900;
}
